In [1]:
from common import return_dfs
t_df, c_df, adv_info = return_dfs()

In [2]:

t_order = t_df.groupby('address').sum('payment').drop('campaign_id', axis=1).sort_index()
c_order = c_df.groupby('address').sum('payment').drop('campaign_id', axis=1).sort_index()
t_order

                      payment
address
경기 수원시 권선구 서둔동 ****     12000
경기 수원시 권선구 세류2동 ****    10000
경기 수원시 권선구 평동 ****    2224000
경기 화성시 매송면 매송면 ****    962000
경기 화성시 봉담읍 봉담읍 ****    480000
경기도 수원시 권선구 평동 ****     32000

In [3]:
c_order

                      payment
address
경기 수원시 권선구 서둔동 ****     94000
경기 수원시 권선구 평동 ****    4292000
경기 수원시 권선구 호매실동 ****   165000
경기 화성시 기배동 ****        433000
경기 화성시 매송면 매송면 ****   1272000
경기 화성시 봉담읍 봉담읍 ****   1608000
경기도 수원시 권선구 평동 ****     16000
경기도 화성시 봉담읍 ****        17000

In [6]:
t_order['profit'] = t_order.payment - c_order.payment
t_order['profit_p'] = t_order.profit / c_order.payment * 100
t_order['compare_payment'] = c_order.payment
t_order['benefit'] = t_order.payment / 88000
t_order = t_order[['payment', 'benefit', 'compare_payment', 'profit', 'profit_p']]
t_order

,payment,benefit,compare_payment,profit,profit_p
address,,,,,
경기 수원시 권선구 서둔동 ****,12000,0.136364,94000.0,-82000.0,-87.234043
경기 수원시 권선구 세류2동 ****,10000,0.113636,NaN,NaN,NaN
경기 수원시 권선구 평동 ****,2059000,23.397727,4292000.0,-2233000.0,-52.027027
경기 화성시 매송면 매송면 ****,916000,10.409091,1272000.0,-356000.0,-27.987421
경기 화성시 봉담읍 봉담읍 ****,473000,5.375000,1608000.0,-1135000.0,-70.584577
경기도 수원시 권선구 평동 ****,32000,0.363636,16000.0,16000.0,100.000000