In [13]:
from common import *
t_df, c_df, adv_info = return_dfs()
del c_df
cp_df = t_df.groupby('campaign_id').sum('payment')
cp_df

             payment
campaign_id
3005196      1010000
3005197      1858000
3046829       992000

In [16]:
cp_df['benefit_p'] = cp_df.payment / 88000
cp_df

             payment  benefit_p
campaign_id
3005196      1010000  11.477273
3005197      1858000  21.113636
3046829       992000  11.272727

In [17]:
adv_info = pd.Series(adv_info, name="address")
adv_info

3005196                경기도 화성시 매송면 화성로 2298-27
3005197                   경기도 수원시 권선구 서수원로 135
3046829                  경기도 수원시 권선구 효탑로30번길 8
3251512    경기도 수원시 권선구 오목천로152번길 40 고색동 첨단벤처밸리
3374444                   경기도 화성시 봉담읍 상리2길 114
Name: address, dtype: object

In [18]:
pd.concat([cp_df, adv_info], axis=1)

           payment  benefit_p                              address
3005196  1010000.0  11.477273              경기도 화성시 매송면 화성로 2298-27
3005197  1858000.0  21.113636                 경기도 수원시 권선구 서수원로 135
3046829   992000.0  11.272727                경기도 수원시 권선구 효탑로30번길 8
3251512        NaN        NaN  경기도 수원시 권선구 오목천로152번길 40 고색동 첨단벤처밸리
3374444        NaN        NaN                 경기도 화성시 봉담읍 상리2길 114