In [1]:
from common import *
t_df, c_df, adv_info = return_dfs()
del c_df
cp_df = t_df.groupby('campaign_id').sum('payment')
cp_df

             payment
campaign_id
3005196      1010000
3005197      1858000
3046829       992000

In [9]:
cp_df = t_df.groupby('campaign_id').sum('payment')
cp_df['benefit_p'] = cp_df.payment / 88000
adv_info = pd.Series(adv_info, name="address")

In [11]:
df = pd.concat([cp_df, adv_info], axis=1)